
/* pie de pagina - inicio */

 
    .headStart{
        height:30px;
        margin-bottom:50px;
        border-bottom: #CCC dotted 2px;
        width: 900px;
        float:left;
    }
.titulo{
    background-color: rgb(68, 14, 117);
    color:white;

}
select{
    background-color: #F1ED5D;
 
}
.table{
    color: white;
    width: 70%;
	height: 500px;
}
.tophead{
    background:rgb(68, 14, 117);
}
.top{
    background: #C39BD3
}
.cardText{
    font-size: 12px;
    text-align: center;
}
.letra{
    font-size: 1em;
    color: white;
}
.icono{
    font-size: 1em;
}
.nav-pills .nav-link.active,
.show>.nav-pills .nav-link{
    background: rgb(68, 14, 117)!important
}
.nav-link{
    color: rgb(68, 14, 117);
}