

/* pie de pagina - inicio */
.social-sharing {
    display: block;
    position: fixed;
    width: 100%;
    left: 0;
    bottom: 0;
    z-index: 4;
    background-size: 80%;
}

.social-sharing ul.menu-social {
    list-style: none;
    text-align: center;
    margin: 0;
    padding: 0;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: nowrapwrap;
    flex-wrap: nowrap;
}

.social-sharing ul.menu-social li {
    flex: 0 1 40px;
    height: 40px;
}

.social-sharing ul.menu-social li.newsletter {
    flex: 1 1 auto;
    line-height: 40px;
    position: relative;
    color:white;
}

.social-sharing  li.labo img{
    height: 1.8rem;
    left: 0;
    right: 3%;
    top: 0;
    bottom: 0;
    margin:0;
    text-align: center;
    margin-right: 2%;
}

.social-sharing ul.menu-social li.next {
    flex: 1 1 auto;
}
.foot img{
    padding: 0%;
    width: 100%;
    height: 50px;
    margin-bottom: 0%; 
    z-index: 1;
   /* position: fixed;*/
}
/* menu navegacion-inicio*/ 

    

    

     /* menu navegacion fin*/ 
/* menu navegacion fin*/
    
    /***************************queries***************************/
    @media only screen 
    and (min-width : 767px) {
    .iconNav{display:none;
    }
    }   
    /*.chartGraph{
        width: 100%;
    }*/
   
    .headStart{
        height:30px;
        margin-bottom:50px;
        border-bottom: #CCC dotted 2px;
        width: 900px;
        float:left;
    }

.titulo{
    background-color: #8631D8;
    color:white;
}
select{
    background-color: #F1ED5D;
 
}